body{
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

p{
    display: inner-flex;
    margin: auto 10px;
    font-size: 15px;
    color: rgb(0, 120, 120);
    border-radius: 6px;
    border: 1px solid lightblue;
    padding: 10px;
}